<p>Session#new / login page</p>

<h1>GAME TITLE</h1>

<%= form_tag '/login' do |f| %>
  <p>
   <%= label_tag :email %>
   <%= text_field_tag :email %>
  </p>

  <p>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </p>

<%= submit_tag "Login" %>

<%= link_to "Sign Up To Play", new_user_path %> <!-- need to link to sign up page -->

<% end %>
