<div class="wrapper">


	<div class="shooter_title"></div>
	<div class="shooter_pic"></div>

	<%= form_tag '/login' do |f| %>
	  <p>
<!-- 	   <%= label_tag  %> -->
	   <%= text_field_tag :email, placeholder = "email" %>
	  </p>

	  <p>
<!-- 	    <%= label_tag  %> -->
	    <%= password_field_tag :password %>
	  </p>

	<p><%= submit_tag "Login" %></p>

	<p><%= link_to "Sign Up To Play", new_user_path %></p> <!-- need to link to sign up page -->

	<% end %>

</div>
