<p id="notice"><%= notice %></p>

<% if @current_user %>
  <!-- SOMEONE IS ACTUALLY LOGGED IN -->
  <h1>GAME TITLE</h1>
<!--   <%= @current_user.email %> -->
  <%= ("#{ @current_user.user_name } is logged in") %> <br>
  <%= link_to("Log out", login_path, :method => :delete) %>
<% end %>

<p>Your Current High Score is:</p>
<p>_____________</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>User name:</strong>
  <%= @user.user_name %>
</p>

<p>
  <strong>User:</strong>
  <%= @user.user_id %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @user.password_digest %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
