<div class="wrapper">

<!-- 	<p id="notice"><%= notice %></p> -->

	<div class="shooter_title"></div>

	<% if @current_user %>
	  <!-- SOMEONE IS ACTUALLY LOGGED IN -->

	<!--   <%= @current_user.email %> -->
	  <h2><%= (" Hi #{ @current_user.user_name } ") %></h2>
	  
	

	<% if @current_user.scores.any? %>
		<p>Your last score was: <%= @current_user.scores.last.points %></p>
	<% end %>

	<p>Your Current High Score:</p>

	<h2 class="highscore"><%= @top_score.first.points if @top_score.first %></h2> <!-- grabs users last highest score -->
	<% end %>

	<p>Top Scores</p> <!-- grabs top scores from other users -->
	<% @high_scores.each_with_index do |score, i| %>
	  <p><%= i + 1 %>. 
	  <%= score.user.user_name %>
	  <%= score.points %></p>
	<% end %>

	<p>
	<%= link_to 'Edit', edit_user_path(@user) %> |
	<%= link_to 'Delete Account', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
	</p>

	<p class="link_button"><%= link_to 'PLAY GAME', game_path %></p>
	
	<% if @current_user %>
	<p><%= link_to("Log out", login_path, :method => :delete) %></p>
	<% end %>

</div>



