<p id="notice"><%= notice %></p>

<% if @current_user %>
  <!-- SOMEONE IS ACTUALLY LOGGED IN -->
  <h1>GAME TITLE</h1>
<!--   <%= @current_user.email %> -->
  <%= ("#{ @current_user.user_name } is logged in") %> <br>
  <%= link_to("Log out", login_path, :method => :delete) %>
<% end %>


<p>Your Current High Score is:</p>

<p><%= @top_score.first.points if @top_score.first %></p> <!-- grabs users last highest score -->


<p>You are ranked:</p>
<p>_______</p> <!-- need to grab users rank in comparison to other users -->

<h2>Top Scores</h2> <!-- grabs top scores from other users -->
<% @high_scores.each_with_index do |score, i| %>
  <p><%= i + 1 %>. <%= score.points %></p>
<% end %>
  <!-- <p>0</p> -->


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> |
<%= link_to 'Delete Account', @user, method: :delete, data: { confirm: 'Are you sure?' } %>

<br><br>
<%= link_to 'PLAY GAME', game_path %>



